@import './style.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';

@layer base {
  html {
    @apply bg-background text-text font-inter; /* Default background and text color */
    scroll-behavior: smooth;
  }

  nav {
    user-select: none;
  }

  h1, h2, h4, h5, h6 {
    @apply text-gradient;
    @apply text-glow;
    @apply font-poppins;
    user-select: none;
  }

  h3 {
    @apply font-work;
  }

  p {
    @apply text-text font-inter; /* Default paragraph color */
  }

  a {
    @apply relative text-accent;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 0%; /* Initially no underline */
    height: 2px; /* Thickness of the underline */
    @apply bg-accent left-0 bottom-0;
    transition: width 0.3s ease; /* Smooth width transition */
  }
  
  /* On hover, slide the underline */
  a:hover::after {
    width: 100%;
  }

  /* Exclude links with the 'data-no-underline' attribute */
  a[data-no-underline]::after {
    content: none;
  }

  a:focus {
    outline: none;
  }

}
