
.text-gradient {
    @apply bg-gradient-to-br from-accent via-secondary to-accent;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text-glow {
    text-shadow: 0 0 72px theme(colors.purple.400 / 65%), 0 0 24px theme(colors.purple.400 / 24%);
}

.text-6xl {
    line-height: 1.4;
}